<!DOCTYPE html>


<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="../static/js/vis-network.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
	<link href="../static/css/bootstrap.min.css" rel="stylesheet" />
    <title>Test</title>
</head>
<style type="text/css">
        #mynetwork {
            height: 400px;
            border: 1px solid lightgray;
        }
</style>
<body>
<div class="container-fluid ">
	<div class="row">
		<div class="col-md-6 column">
			<div id="mynetwork"></div>
		</div>
		<div class="col-md-6 column">
			<div style="height: 500px"></div>
		</div>
	</div>
</div>
</body>


<script type="text/javascript">
	var nodes = new vis.DataSet([
        { id: 1, label: "RTA",image:"../static/img/router.png" , shape: 'image'},
        { id: 2, label: "RTB",image:"../static/img/router.png" , shape: 'image'},
		{ id: 3, label: "RTC",image:"../static/img/router.png" , shape: 'image'}
    ]);

    // 创建边数据数组
    var edges = new vis.DataSet([
        { from: 1, to: 2},
        { from: 2, to: 3 },
    ]);

    // 获取容器
    var container = document.getElementById('mynetwork');

    // 将数据赋值给vis 数据格式化器
    var data = {
        nodes: nodes,
        edges: edges
    };
    var options = {  edges:{
            arrows: {
            	from:{enabled: true, scaleFactor: 0.3, type: 'circle'},
                to: {enabled: true, scaleFactor: 0.3, type: 'circle'}
            }
        }

};

    // 初始化关系图
    var network = new vis.Network(container, data, options);

</script>
</html>