<!DOCTYPE html>


<html lang="en">

<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="../static/js/vis-network.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" />
    <title>Test</title>
</head>
<style type="text/css">
    #mynetwork {
        height: 400px;
        border: 1px solid lightgray;
    }
</style>
<style type="text/css">
    * {
        padding: 0;
        margin: 0;
    }
    
    .menu {
        /*这个样式不写，右键弹框会一直显示在画布的左下角*/
        position: absolute;
        background: rgba(3, 3, 3, 0.6);
        border-radius: 5px;
        left: -99999px;
        top: -999999px;
    }
    
    .menu ul {
        list-style: none;
    }
    
    .menu ul li {
        padding: 5px 10px;
        color: #ffff;
        border-bottom: 1px solid #ffffff;
        font-size: 14px;
        cursor: pointer;
        list-style: none;
    }
    
    .menu ul li:hover {
        color: #659bc5;
    }
    
    .menu ul li:last-child {
        border-bottom: none;
        padding: 5px 10px 0 10px;
    }
</style>

<body>
    <div class="container-fluid ">
        <div class="row">
            <div class="col-md-6 column">

                <!-- 拓扑图 -->
                <div id="mynetwork"></div>

                <!--菜单操作-->
                <div id="menuOperation" class="menu" style="display: none;">
                    <ul>
                        <li><span class="glyphicon glyphicon-off" aria-hidden="true"></span> 下线</li>
                        <li><span class="glyphicon glyphicon-road" aria-hidden="true"></span> 通行</li>
                    </ul>
                </div>

                <!--节点悬停-->
                <div class="menu" id="divHoverNode" style="display: none;">
                    <!--<ul></ul>-->
                </div>

            </div>
            <div class="col-md-6 column">
                <div style="height: 500px">
                    <div class="row" style="margin-top: 20px">
                        <div class="col-md-4 ">
                            <button class="btn-primary btn-lg" id="static_route" onclick="exec_static()">配置静态路由</button>
                        </div>
                        <div class="col-md-4 ">
                            <button class="btn-primary btn-lg" id="rip" onclick="exec_rip()">配置RIP</button>
                        </div>
                        <div class="col-md-4 ">
                            <button class="btn-primary btn-lg" id="ospf" onclick="exec_ospf()">配置OSPF多域</button>
                        </div>
                    </div>
                    <div class="row">
                        <HR color=#337ab7 SIZE=2>
                    </div>
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <div class="col-md-6">
                                <select class="form-control" id="select_yml" onchange="showFile()">
							  <option>rip_configA.yaml</option>
							  <option>rip_configB.yaml</option>
							  <option>rip_configC.yaml</option>
							  <option>ospf_configA.yaml</option>
							  <option>ospf_configB.yaml</option>
							  <option>ospf_configC.yaml</option>
							  <option>static_router1_config.yaml</option>
							  <option>static_router2_config.yaml</option>
							  <option>static_router3_config.yaml</option>
							  <option>static_router1_config1.yaml</option>
							  <option>static_router2_config1.yaml</option>
							  <option>static_router3_config1.yaml</option>
							  <!-- <option>OSPF</option> -->
							</select>
                            </div>
                            <div class="col-md-6">
                                <button class="btn-primary btn-lg" id="btn_ok" onclick="modifyFile()">确定</button>
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <div class="row">
                        <HR color=#337ab7 SIZE=2>
                    </div>
                    <div class="row">
                        <textarea style="width: 100%;height: 400px" id="fileText">
						...
					</textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


<script type="text/javascript">
    //nodes 配置好路由后，三个路由器的信息组成的list， var nodes = list; 属性和值都可以自定义，edges也是一样
    var nodes = []
    nodes = [{
        "id": 0,
        "name": "路由器A",
        "label": "RTA",
        "type": "router",
        "ip": "102.168.1.1",
        "S0/0/0": "192.168.12.0/24",
        "port": "未知",
        "ignore": "false",
        "flag": "true"
    }, {
        "id": 1,
        "name": "路由器B",
        "label": "RTB",
        "type": "router",
        "ip": "192.168.1.12",
        "S0/0/0": "192.168.12.1/24",
        "S0/0/1": "192.168.12.1/24",
        "port": "22",
        "ignore": "true",
        "flag": "true"
    }, {
        "id": 2,
        "name": "路由器C",
        "label": "RTC",
        "type": "router",
        "ip": "192.168.1.3",
        "S0/0/0": "192.168.12.2/24",
        "port": "33",
        "ignore": "true",
        "flag": "true"
    }];
    var edges,container,data,options,network;

    for (var i = 0; i < nodes.length; i++) {
        if (nodes[i].type == 'router') {
            nodes[i].image = '../static/img/router.png';
        }
    }

    // 创建边数据数组
    edges = new vis.DataSet([{
        from: 0,
        to: 1,
        id: "0->1"
    }, {
        from: 1,
        to: 2,
        id: "1->2"
    }]);

    // 获取容器
    container = document.getElementById('mynetwork');

    // 将数据赋值给vis 数据格式化器
    data = {
        nodes: nodes,
        edges: edges
    };
    //
    options = {
        nodes: {
            shape: 'image'
        },
        interaction: {
            hover: true,
            hoverConnectedEdges: true
        },
        edges: {
            arrows: {
                from: {
                    enabled: true,
                    scaleFactor: 0.3,
                    type: 'circle'
                },
                to: {
                    enabled: true,
                    scaleFactor: 0.3,
                    type: 'arrow'
                }
            }
        }
    };
    // 初始化关系图
    network = new vis.Network(container, data, options);

    function update(){
        for (var i = 0; i < nodes.length; i++) {
            if (nodes[i].type == 'router') {
                nodes[i].image = '../static/img/router.png';
            }
        }
        data = {
            nodes: nodes,
            edges: edges
        };
        network.setData(data)
    }

    // 获取节点信息
    function getNode(option) {
        for (var i = 0; i < nodes.length; i++) {
            if (option == nodes[i].id) {
                return nodes[i];
            }
        }
    }

    // 获取边信息
    function getEdge(option) {
        var linkId = option;
        var linkIdFirst = linkId.substring(0, 1); //截取第一位
        var linkIdLast = linkId.substring(linkId.length - 1, linkId.length); //截取最后一位
        var dataList = []; //存放线条两边的节点nodes数据
        for (var j = 0; j < nodes.length; j++) {
            if (linkIdFirst == nodes[j].id || linkIdLast == nodes[j].id) {
                dataList.push(nodes[j]);
            }
        }
        return dataList;
    }

    // 鼠标悬停，显示弹框
    network.on('hoverNode', function(properties) {
        var hoveNodeList = getNode(properties.node);
        var deviceType = hoveNodeList.type;
        var imgPathSrc = hoveNodeList.image;
        if (deviceType == "router") {
            var $ul = "<ul>" +
                "<li><img src=' " + imgPathSrc + " ' width='30px' height='25px'><span> " + hoveNodeList.name + " </span> </li>" +
                "<li onclick='changeIP("+hoveNodeList.id+")'>IP：" + hoveNodeList.ip + "</li>" +
                "<li>S0/0/0：" + hoveNodeList["S0/0/0"] + "</li>" +/*这里有问题*/
                "<li>Port：" + hoveNodeList.port + "</li>" +
                "</ul>";
            $("#divHoverNode").append($ul);
        }
        $('#divHoverNode').css({
            'display': 'block',
            'left': properties.event.offsetX + 15,
            'top': properties.event.offsetY + 15
        });
        $('#menuOperation').hide();
    });

    // 从节点移开---隐藏弹框
    network.on('blurNode', function() {
        $("#divHoverNode").hide();
        $("#divHoverNode").empty(); //移除之后清空div
    });

    //  悬停在边上--显示弹框
    network.on('hoverEdge', function(properties) {
        // console.log('悬停边',properties);
        var hoveEdgeList = getEdge(properties.edge);
        var $ul = "<ul>" +
            "<li>名称：" + hoveEdgeList[0].name + "->" + hoveEdgeList[1].name + "</li>" +
            "<li>端口号：" + hoveEdgeList[0].ip + "->" + hoveEdgeList[1].ip + "</li>" +
            "</ul>";
        $("#divHoverNode").append($ul);
        $('#divHoverNode').css({
            'display': 'block',
            'left': properties.event.offsetX + 15,
            'top': properties.event.offsetY + 15
        });
        $('#menuOperation').hide();
    });

    //  从边上移开---隐藏弹框
    network.on('blurEdge', function(properties) {
        $("#divHoverNode").hide();
        $("#divHoverNode").empty(); //移除之后清空div
    });

    //  点击的判断是否选中节点时候显示隐藏
    network.on('click', function(properties) {
        var clickNodeList = getNode(properties.nodes[0]);
        if (typeof(clickNodeList) == "undefined") {
            $('#menuOperation').hide();
        } else {
            $('#menuOperation').css({
                'display': 'block',
                'left': properties.event.center.x + 15,
                'top': properties.event.center.y + 15
            });
            $("#divHoverNode").hide();
        }
    });

    function changeIP(id){
        var newIP = prompt("请输入新的IP","")
        $.ajax({
            type: "post",
            url: "/changeIP",
            data: { ID: id,IP: newIP },
            dataType:"json",
            success: function(resp) {
                for (let i = 0; i < 3; i++) {
                    nodes[i] = resp[i]
                }
                update()
                alert("请求成功！")
                console.log(id+"."+newIP)
            },
            error: function(msg) {
                console.log(msg)
                alert("请求失败");
            }
        });
    }


    function exec_rip(){
        $.ajax({
            type: "post",
            url: "/simpleExecuteRipConfig",
            dataType:"json",
            success: function(resp) {
                for (let i = 0; i < 3; i++) {
                    nodes[i] = resp[i]
                }
                update()
                alert("请求成功！")
            },
            error: function(msg) {
                console.log(msg)
                alert("请求失败");
            }
        });
    }

    function exec_static(){
        $.ajax({
            type: "post",
            url: "/simpleExecuteStaticConfig",
            success: function(resp) {
                for (let i = 0; i < 3; i++) {
                    nodes[i] = resp[i]
                }
                update()
                alert("请求成功！")
            },
            error: function(msg) {
                console.log(msg)
                alert("请求失败");
            }
        });
    }

    function exec_ospf(){
        $.ajax({
            type: "post",
            url: "/simpleExecuteOspfConfig",
            success: function(resp) {
                for (let i = 0; i < 3; i++) {
                    nodes[i] = resp[i]
                }
                update()
                alert("请求成功！")
            },
            error: function(msg) {
                console.log(msg)
                alert("请求失败");
            }
        });
    }

    function showFile() {
        var x = document.getElementById("select_yml")
        var index = x.selectedIndex
        var opt = x.options[index].value;
        console.log(opt)
        json_x = JSON.stringify({
            "YamlName": opt
        })
        $.ajax({
            type: "post",
            // headers:{
            // },
            url: "/showYaml",
            data: json_x,
            contentType: false,
            processData: false,
            dataType: "json",
            success: function(data) {
                console.log(data["command"])
                data = data["command"]
                file = document.getElementById("fileText")
                file.value = data[0]
                for (var i = 1; i < data.length; i++) {
                    file.value = file.value + data[i]
                }
            },
            error: function(msg) {
                console.log(msg)
                alert("请求失败");
            }
        });
    }

    function modifyFile() {
        file = document.getElementById("fileText")
        var x = document.getElementById("select_yml")
        var index = x.selectedIndex
        var opt = x.options[index].value;
        json_x = JSON.stringify({
            "newFile": file.value,
            "option": opt
        })
        $.ajax({
            type: "post",
            // headers:{
            // },
            url: "/modifyYaml",
            data: json_x,
            contentType: false,
            processData: false,
            dataType: "json",
            success: function(data) {
                alert(data["msg"])
                    // data = data["command"]
                    // file = document.getElementById("fileText")
                    // file.value = data[1]
                    // for (var i = 2; i < data.length; i++) {
                    //     file.value = file.value + data[i]
                    // }
            },
            error: function(msg) {
                console.log(msg)
                alert("请求失败");
            }
        });
    }
</script>

</html>